# Updating Rows and Columns - Modifying Data Within DataFrames

In [52]:
import pandas as pd

In [53]:
people = {
    'name': ['Syed', 'Saquib', 'Shaeen'],
    'last': ['Atif', 'Saeed', 'Saeed'],
    'email': ['abc@abc.com', 'JaneDoe@Yahoo.co.uk', 'Saeed@hotmail.com']
}

In [54]:
df = pd.DataFrame(people)
df

     name   last                email
0    Syed   Atif          abc@abc.com
1  Saquib  Saeed  JaneDoe@Yahoo.co.uk
2  Shaeen  Saeed    Saeed@hotmail.com

# Renaming all column labels at once
We can change the name of all our columns at once using the '.columns' property

In [55]:
df.columns

Index(['name', 'last', 'email'], dtype='object')

In [56]:
df.columns = ['first_name','last_name','email']
df

  first_name last_name                email
0       Syed      Atif          abc@abc.com
1     Saquib     Saeed  JaneDoe@Yahoo.co.uk
2     Shaeen     Saeed    Saeed@hotmail.com

We can also use list comprehension if we want to apply the same tranformation to all the column names. eg to capitalise all the column labels:

In [57]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                EMAIL
0       Syed      Atif          abc@abc.com
1     Saquib     Saeed  JaneDoe@Yahoo.co.uk
2     Shaeen     Saeed    Saeed@hotmail.com

We can use the str property of columns to call string methods. For example, can replace _ with spaces:

In [58]:
df.columns = df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME                EMAIL
0       Syed      Atif          abc@abc.com
1     Saquib     Saeed  JaneDoe@Yahoo.co.uk
2     Shaeen     Saeed    Saeed@hotmail.com

> Note: Column names with spaces cannot be used using dot notation so will have to use ['col name'] to refer to them

# Renaming specific column labels
we can change specific columns aswell. So to change the df to its original column names:

In [59]:
df.rename(columns = {'FIRST NAME': 'first', 'LAST NAME': 'last'})

    first   last                EMAIL
0    Syed   Atif          abc@abc.com
1  Saquib  Saeed  JaneDoe@Yahoo.co.uk
2  Shaeen  Saeed    Saeed@hotmail.com

In [60]:
df

  FIRST NAME LAST NAME                EMAIL
0       Syed      Atif          abc@abc.com
1     Saquib     Saeed  JaneDoe@Yahoo.co.uk
2     Shaeen     Saeed    Saeed@hotmail.com

But those changes dont apply to the original df. Therefore:

In [61]:
df.columns = df.columns.str.replace('EMAIL', 'email')

In [62]:
df.rename(columns = {'FIRST NAME': 'first', 'LAST NAME': 'last'}, inplace=True)
df

    first   last                email
0    Syed   Atif          abc@abc.com
1  Saquib  Saeed  JaneDoe@Yahoo.co.uk
2  Shaeen  Saeed    Saeed@hotmail.com

## Changing values of specific whole row:
We can grab a row using its index and change all it's values by assigning it a list of values

In [63]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@gmail.com']
df

    first   last                email
0    Syed   Atif          abc@abc.com
1  Saquib  Saeed  JaneDoe@Yahoo.co.uk
2    John  Smith  JohnSmith@gmail.com

## Changing values of specific row and columns

In [64]:
df.loc[2, ['last', 'email']] = ['Shaheen','Saeed@hotmail.com']
df

    first     last                email
0    Syed     Atif          abc@abc.com
1  Saquib    Saeed  JaneDoe@Yahoo.co.uk
2    John  Shaheen    Saeed@hotmail.com

In [65]:
# multiple indexes:
df.loc[[0,2], ['last', 'email']] = ['Shaheen','Saeed@hotmail.com']
df

    first     last                email
0    Syed  Shaheen    Saeed@hotmail.com
1  Saquib    Saeed  JaneDoe@Yahoo.co.uk
2    John  Shaheen    Saeed@hotmail.com

We can also use .at instead of loc

@TODO Difference b/w at and loc

In [66]:
df.at[2, 'last'] = 'Doe'
df

    first     last                email
0    Syed  Shaheen    Saeed@hotmail.com
1  Saquib    Saeed  JaneDoe@Yahoo.co.uk
2    John      Doe    Saeed@hotmail.com

## Using filters to update columns

> Note: we cannot change a value to a dataframe (which is the result of a filter) directly:

In [67]:
filt = (df['email'] == 'JaneDoe@Yahoo.co.uk')
df[filt]

    first   last                email
1  Saquib  Saeed  JaneDoe@Yahoo.co.uk

In [68]:
# df[filt]['last'] = 'SMith'  # SettingWithCopyWarning:

This is because of how pandas manages dataframes in the background. The result of a df filter is a copy of the original dataframe hence assigning a value to it wont make the change to the original df. This is why pandas limits us from doing this. We can rerun the same operation above using loc:

In [69]:
df.loc[filt, 'last'] = 'Smith'
df

    first     last                email
0    Syed  Shaheen    Saeed@hotmail.com
1  Saquib    Smith  JaneDoe@Yahoo.co.uk
2    John      Doe    Saeed@hotmail.com

## updating muliple rows at once

In [70]:
df['email'].str.lower()

0      saeed@hotmail.com
1    janedoe@yahoo.co.uk
2      saeed@hotmail.com
Name: email, dtype: object

In [71]:
df

    first     last                email
0    Syed  Shaheen    Saeed@hotmail.com
1  Saquib    Smith  JaneDoe@Yahoo.co.uk
2    John      Doe    Saeed@hotmail.com

As you can see above, this change is not applied to the original df. Therefore:

In [72]:
df['email'] = df['email'].str.lower()
df

    first     last                email
0    Syed  Shaheen    saeed@hotmail.com
1  Saquib    Smith  janedoe@yahoo.co.uk
2    John      Doe    saeed@hotmail.com

## Using methods:
Panmdas provides us with 4 popular methods which can be used to update multiple rows at once. They are:
1. apply
2. map
3. applymap
4. replace

### apply()
Used to call a function on our values. Can be called on a series or on a dataframe. 

On a series, it applies function lambda function to every item in our series:

In [73]:
sr_email = df['email']
sr_email.apply(len)

0    17
1    19
2    17
Name: email, dtype: int64

In [74]:
def update_email(email):
    return email.upper()

In [75]:
sr_email.apply(update_email)

0      SAEED@HOTMAIL.COM
1    JANEDOE@YAHOO.CO.UK
2      SAEED@HOTMAIL.COM
Name: email, dtype: object

To apply this to the original dataframe,

In [76]:
df['email'] = df['email'].apply(update_email)
df

    first     last                email
0    Syed  Shaheen    SAEED@HOTMAIL.COM
1  Saquib    Smith  JANEDOE@YAHOO.CO.UK
2    John      Doe    SAEED@HOTMAIL.COM

In [77]:
# lambda function:
df['email'] = df['email'].apply(lambda x: x.lower())
df

    first     last                email
0    Syed  Shaheen    saeed@hotmail.com
1  Saquib    Smith  janedoe@yahoo.co.uk
2    John      Doe    saeed@hotmail.com

On a dataframes, it applies function lambda function to each column or row (Series) in the dataframe:

In [78]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

ie it is calling ```len(df['first'])```, ```len(df['last'])``` and ```len(df['email'])``` on every column (series) and returning the number of rows eg

In [79]:
len(df['first'])

3

We can call apply on dataframe row series aswell by changing the axis:

In [80]:
df.apply(len, axis = 'columns')  # where: axis = 'rows' is default

0    3
1    3
2    3
dtype: int64

ie it is calling ```len(df.loc[0])```, ```len(df.loc[1])``` and ```len(df.loc[2])``` on every row (series) and returning the number of rows eg

In [81]:
len(df.loc[0])

3

> Note: When you pass a method to dataframe's apply(), the method is called on whole series (row or column series etc). That's why len returns the length of the series

There are methods that are built into Series class. For example:

In [82]:
df.apply(pd.Series.min)

first                   John
last                     Doe
email    janedoe@yahoo.co.uk
dtype: object

In [83]:
df.apply(lambda x: x.min())  # Since x is a series, its the same as calling pd.Series.min

first                   John
last                     Doe
email    janedoe@yahoo.co.uk
dtype: object

> So to summarise, when calling apply()
> 1. On a series, it applies function / lambda function to every item in our series.
> 2. On a dataframes, it applies function / lambda function to each column or row (Series) in the dataframe.

### applymap()
Used to apply a function to every individual value / cell in a dataframe. 
It only exists in dataframes but not in series objects

In [84]:
df.applymap(len)

   first  last  email
0      4     7     17
1      6     5     19
2      4     3     17

In [85]:
df.applymap(str.lower)

    first     last                email
0    syed  shaheen    saeed@hotmail.com
1  saquib    smith  janedoe@yahoo.co.uk
2    john      doe    saeed@hotmail.com

### map()
Used for substituting each value in a series to another value. It only exists in series but not the dataframe object.

In [86]:
df['first'].map({'Syed': 'Ahmed', 'John': 'Azam'})

0    Ahmed
1      NaN
2     Azam
Name: first, dtype: object

> Note: The values that we did not map were converted into a NaN

### replace()
Since maps inserts NaN for values that are not in the update dict, we can use replace() which keeps the values which are not replaced by dict

In [87]:
df['first'].replace({'Syed': 'Ahmed', 'John': 'Azam'})

0     Ahmed
1    Saquib
2      Azam
Name: first, dtype: object

map and replace return a series and do not update the df they are called on. To update the df:

In [88]:
df['first'] = df['first'].replace({'Syed': 'Ahmed', 'John': 'Azam'})
df

    first     last                email
0   Ahmed  Shaheen    saeed@hotmail.com
1  Saquib    Smith  janedoe@yahoo.co.uk
2    Azam      Doe    saeed@hotmail.com

we will now run the above functionality on our stackoverflow dataset:

In [89]:
df = pd.read_csv('./data/survey_results_public.csv')
schema_df = pd.read_csv('./data/survey_results_schema.csv')

In [90]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

### rename the columns
let's rename the column 'ConvertedComp' to something that makes more sense

In [91]:
df.rename(columns = {'ConvertedComp': 'SalaryUSD'}, inplace=True)
df['SalaryUSD']

0            NaN
1            NaN
2         8820.0
3        61000.0
4            NaN
          ...
88878        NaN
88879        NaN
88880        NaN
88881        NaN
88882        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

### change the values
Lets change Yes to True and No to False in the Hobbyist Column:

In [92]:
df ['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [93]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})
df['Hobbyist']

0         True
1        False
2         True
3        False
4         True
         ...
88878     True
88879    False
88880    False
88881    False
88882     True
Name: Hobbyist, Length: 88883, dtype: bool