# dataframes and series

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/survey_results_public.csv')
schema_df = pd.read_csv('./data/survey_results_schema.csv')

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

 We can create dataframe from a dictionary of lists where,
 dictionary keys = columns
 list indexes = rows (All lists should be the same length)

In [25]:
people = {
    'name': ['Syed', 'Saquib', 'Saeed'],
    'last': ['Atif', 'Faraz', 'Shaheen'],
    'email': ['abc@abc.com', 'JaneDoe@Yahoo.com', 'Saeed@hotmail.com']
}

In [26]:
df = pd.DataFrame(people)
df

     name     last              email
0    Syed     Atif        abc@abc.com
1  Saquib    Faraz  JaneDoe@Yahoo.com
2   Saeed  Shaheen  Saeed@hotmail.com

In [27]:
type(df)

pandas.core.frame.DataFrame

## Fetching data from Columns:
When we access a row or column in a dataframe, we get a Series object

In [28]:
df['email']  # Can also use the dot-notation ie df.email to get the same series object

0          abc@abc.com
1    JaneDoe@Yahoo.com
2    Saeed@hotmail.com
Name: email, dtype: object

In [29]:
type(df['email'])

pandas.core.series.Series

A dataframe is like a 2 dimensionsal data structure because it has rows and columns. It's like a container for multiple series objects.

Series is like a one dimensional array (or a list of data) but like a dataframe, has a lot of functions for series processing. In otherwords, it's a row of a single column

> **column vs dot notation**
> column notation is prefered because if you have a column name whcih is the same as a dataframe property, it will return the result of the property instead of the column. For example, if your df has a column called count, df['count'] wil return column eries where as df.count returns the method, count(), of the dataframe. It's a personal preference what you want to use and neither is wrong

## Fetching data from multiple columns

In [30]:
df[['last', 'email']]

      last              email
0     Atif        abc@abc.com
1    Faraz  JaneDoe@Yahoo.com
2  Shaheen  Saeed@hotmail.com

We can pass in a list of columns to get a df containing thise columns. Note, that we are passing a list. If we pass them directly into the dataframe's square brackets, pandas will try to treat both strings as a single column name eg

In [31]:
# df['last', 'email']  # KeyError

> Note: When we fetch multiple columns, the result is no longer a series because a series represents a single column. Notice the datatype returned using a single column vs multi column fetch:

In [32]:
type(df['last'])

pandas.core.series.Series

In [33]:
type(df[['last']])

pandas.core.frame.DataFrame

## Getting list of columns in a dataframe

In [34]:
df.columns

Index(['name', 'last', 'email'], dtype='object')

# Fetching data from rows:
We use **iloc** and **loc** to fetch data from rows.

iloc (integer location) helps us fetch rows using the integer location in the index.
>Note: The indexes now are the column names

In [39]:
df.iloc[0] # returns a series of the first row of data

name            Syed
last            Atif
email    abc@abc.com
Name: 0, dtype: object

# Fetching data from multiple rows:
In a similar way (multiple columns), we can access multiple rows by passing a list of indices:

In [40]:
df.iloc[[0,2]] # return a dataframe as it has more than one rows of data

    name     last              email
0   Syed     Atif        abc@abc.com
2  Saeed  Shaheen  Saeed@hotmail.com

# Fetching data using both rows and columns

iloc also takes a list of row index followed by a list if column index using comma as a separator
> Note: The i in iloc stands for index. This is why it is designed to accept column indexes (instead of column's string labels)

In [47]:
df.iloc[[0,1], 2] # series

0          abc@abc.com
1    JaneDoe@Yahoo.com
Name: email, dtype: object

In [48]:
df.iloc[[0,1], [0,2]] # dataframe

     name              email
0    Syed        abc@abc.com
1  Saquib  JaneDoe@Yahoo.com

In [50]:
df.iloc[0, [0,2]] # Series

name            Syed
email    abc@abc.com
Name: 0, dtype: object

>Note: If iloc has only one index or column, it returns a series instead of a dataframe

For loc we need to have the column labels as indexes in the dataframe. We can then use the column indexes (which will be the same as column labels) instead of int indexes. Currently the column lanels are not defined as column indexes, so this will throw a KeyError

In [52]:
# df.loc[[0,1], ['first', 'email']] # this will throw a KeyError

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['first'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"