# Set reset ad Use Indexes

In [2]:
import pandas as pd

In [3]:
people = {
    'name': ['Syed', 'Saquib', 'Saeed'],
    'last': ['Atif', 'Shaeen', 'Saeed'],
    'email': ['abc@abc.com', 'JaneDoe@Yahoo.com', 'Saeed@hotmail.com']
}

In [4]:
df = pd.DataFrame(people)
df

     name     last              email
0    Syed     Atif        abc@abc.com
1  Saquib    Faraz  JaneDoe@Yahoo.com
2   Saeed  Shaheen  Saeed@hotmail.com

The left column (0,1,2) is a unique row index used to identify rows by pandas. We can replace this default index with our values as long as all the index values are unique.

In [5]:
 df.set_index('email')

                     name     last
email
abc@abc.com          Syed     Atif
JaneDoe@Yahoo.com  Saquib    Faraz
Saeed@hotmail.com   Saeed  Shaheen

The original index is still the same. pandas does not update the originl dataframe so we dont end up corrupting it.Original df:

In [6]:
df

     name     last              email
0    Syed     Atif        abc@abc.com
1  Saquib    Faraz  JaneDoe@Yahoo.com
2   Saeed  Shaheen  Saeed@hotmail.com

To do this in place (in the original dataframe), we can:

 df.set_index('email', inplace=True)